In [1]:
import pandas as pd

In [2]:
# code directly copied from covid19api to query covid19 data in singapore for all type of cases
import requests

url = "https://api.covid19api.com/total/country/singapore"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

df=pd.DataFrame(response.json())

In [3]:
df=df[["Country","Confirmed","Deaths","Recovered","Active","Date"]]

In [4]:
df

       Country  Confirmed  Deaths  Recovered  Active                  Date
0    Singapore          0       0          0       0  2020-01-22T00:00:00Z
1    Singapore          1       0          0       1  2020-01-23T00:00:00Z
2    Singapore          3       0          0       3  2020-01-24T00:00:00Z
3    Singapore          3       0          0       3  2020-01-25T00:00:00Z
4    Singapore          4       0          0       4  2020-01-26T00:00:00Z
..         ...        ...     ...        ...     ...                   ...
649  Singapore     200844     421          0  200423  2021-11-01T00:00:00Z
650  Singapore     204340     430          0  203910  2021-11-02T00:00:00Z
651  Singapore     207975     442          0  207533  2021-11-03T00:00:00Z
652  Singapore     210978     459          0  210519  2021-11-04T00:00:00Z
653  Singapore     212745     468          0  212277  2021-11-05T00:00:00Z

[654 rows x 6 columns]

In [ ]:
#graph would be more meaningful to show daily confirmed, daily death, daily recovered

In [7]:
df["previous_confirmed"]=df["Confirmed"].shift(1, fill_value=0)
df["previous_deaths"]=df["Deaths"].shift(1, fill_value=0)
df["previous_recovered"]=df["Recovered"].shift(1, fill_value=0)

In [9]:
df["daily_confirmed"]=df["Confirmed"] - df["previous_confirmed"]
df["daily_deaths"]=df["Deaths"] - df["previous_deaths"]
df["daily_recovered"]=df["Recovered"] - df["previous_recovered"]

In [10]:
df

,Country,Confirmed,Deaths,Recovered,Active,Date,previous_confirmed,previous_deaths,previous_recovered,daily_confirmed,daily_deaths,daily_recovered
0,Singapore,0,0,0,0,2020-01-22T00:00:00Z,0,0,0,0,0,0
1,Singapore,1,0,0,1,2020-01-23T00:00:00Z,0,0,0,1,0,0
2,Singapore,3,0,0,3,2020-01-24T00:00:00Z,1,0,0,2,0,0
3,Singapore,3,0,0,3,2020-01-25T00:00:00Z,3,0,0,0,0,0
4,Singapore,4,0,0,4,2020-01-26T00:00:00Z,3,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
649,Singapore,200844,421,0,200423,2021-11-01T00:00:00Z,198374,407,0,2470,14,0
650,Singapore,204340,430,0,203910,2021-11-02T00:00:00Z,200844,421,0,3496,9,0
651,Singapore,207975,442,0,207533,2021-11-03T00:00:00Z,204340,430,0,3635,12,0
652,Singapore,210978,459,0,210519,2021-11-04T00:00:00Z,207975,442,0,3003,17,0
653,Singapore,212745,468,0,212277,2021-11-05T00:00:00Z,210978,459,0,1767,9,0

In [13]:
#df with daily confirmed, daily death, daily recovered

df_daily=df[["Country","daily_confirmed","daily_deaths","daily_recovered","Active","Date"]]

In [14]:
df_daily

,Country,daily_confirmed,daily_deaths,daily_recovered,Active,Date
0,Singapore,0,0,0,0,2020-01-22T00:00:00Z
1,Singapore,1,0,0,1,2020-01-23T00:00:00Z
2,Singapore,2,0,0,3,2020-01-24T00:00:00Z
3,Singapore,0,0,0,3,2020-01-25T00:00:00Z
4,Singapore,1,0,0,4,2020-01-26T00:00:00Z
...,...,...,...,...,...,...
649,Singapore,2470,14,0,200423,2021-11-01T00:00:00Z
650,Singapore,3496,9,0,203910,2021-11-02T00:00:00Z
651,Singapore,3635,12,0,207533,2021-11-03T00:00:00Z
652,Singapore,3003,17,0,210519,2021-11-04T00:00:00Z
653,Singapore,1767,9,0,212277,2021-11-05T00:00:00Z

In [23]:
#until 2021-08-04; where data all correct
df_daily_cut = df_daily[df_daily["Date"]< "2021-08-05"]

In [24]:
df_daily_cut

,Country,daily_confirmed,daily_deaths,daily_recovered,Active,Date
0,Singapore,0,0,0,0,2020-01-22T00:00:00Z
1,Singapore,1,0,0,1,2020-01-23T00:00:00Z
2,Singapore,2,0,0,3,2020-01-24T00:00:00Z
3,Singapore,0,0,0,3,2020-01-25T00:00:00Z
4,Singapore,1,0,0,4,2020-01-26T00:00:00Z
...,...,...,...,...,...,...
556,Singapore,120,0,130,2081,2021-07-31T00:00:00Z
557,Singapore,121,0,94,2108,2021-08-01T00:00:00Z
558,Singapore,111,1,76,2142,2021-08-02T00:00:00Z
559,Singapore,102,0,219,2025,2021-08-03T00:00:00Z
560,Singapore,95,1,105,2014,2021-08-04T00:00:00Z

In [25]:
#until latest date for daily_confirmed, daily_death
df_daily_full = df_daily[["Country","daily_confirmed","daily_deaths","Date"]]

In [26]:
df_daily_full

       Country  daily_confirmed  daily_deaths                  Date
0    Singapore                0             0  2020-01-22T00:00:00Z
1    Singapore                1             0  2020-01-23T00:00:00Z
2    Singapore                2             0  2020-01-24T00:00:00Z
3    Singapore                0             0  2020-01-25T00:00:00Z
4    Singapore                1             0  2020-01-26T00:00:00Z
..         ...              ...           ...                   ...
649  Singapore             2470            14  2021-11-01T00:00:00Z
650  Singapore             3496             9  2021-11-02T00:00:00Z
651  Singapore             3635            12  2021-11-03T00:00:00Z
652  Singapore             3003            17  2021-11-04T00:00:00Z
653  Singapore             1767             9  2021-11-05T00:00:00Z

[654 rows x 4 columns]